body {
  box-sizing: border-box;
}

.navBar {
  align-content: center;
  text-align: center;
}

.roomBox {
  border: solid .5px grey;
  margin-top: 1%;
  border-radius: 10px;
}

.roomName {
  display: inline-block;
  margin-top: 2.5%;
  margin-bottom: 0;
}

.addroombtn {
  display: inline-block;
}

.room_header {
  text-align: center;
  margin-top: 1%;
}

.chat_list{
  padding-left: 0;
}

.chat_bubble {
  border: solid .5px grey;
  margin-top: 1%;
  border-radius: 10px;
  padding-bottom: 1%;
  list-style-type: none;
}

.comment {
  margin-top: 1%;
  margin-bottom: 0;
  font-size: 10pt;
}

.author {
  font-size: 8pt;
  margin-bottom: 0;
}

.delete_comment {
  padding-bottom: 1%;
  margin-bottom: 0%;
  font-size: 8pt;
}

.add_comment_form{
  margin: 0;
}

.add_comment {
  margin-top: 2%;
  margin-left: 26%;
}

.comment_box {
  width: 280%;
  margin-left: 27.7%;
  border-radius: 10px;
  border: solid .5px grey;
  font-size: 10pt;
  /* padding-left: 4%; */
}

.add_room_btn {
  margin-left: 7.5%;
  padding-bottom: 1% !important;
}
