
<section class='navBar row justify-content-center'>
  <a class='col-md-2' href="{% url 'rooms:list' %}">Home</a>
  <a class='col-md-2' href="{% url 'rooms:user_rooms' %}">My Rooms</a>
  {% if not request.user.is_authenticated %}
  <a class='col-md-2' href="{% url 'login' %}">Login</a>
  {% else %}
  <a class='col-md-2' href='{% url "accounts:profile_detail" %}'>Your Profile</a>
  <a class='col-md-2' href="{% url 'rooms:create_room' %}">Create a Room</a>
  <a class='col-md-2' href="{% url 'logout' %}"><span>Log Out</span></a>
  {% endif %}
</section>
