{% extends 'rooms/base.html' %}
{% block content %}
<section>
  <h2>Log In</h2>
</section>

<div>
  <section class='row justify-content-center'>

    <form method = 'post'>
      {% csrf_token %}
      <p class='login_form'>{{form.as_p}}</p>
      <button>Log In</button>
    </form>
  </section>
  <section class='row justify-content-center'>
  <p class='signup_text'>Don't have an account? Click Here! =></p>
  <a class='signup_text' href ="{% url 'accounts:signup' %}">Sign Up</a>
  </section>
</div>

{% endblock content%}
